<div class="panel-heading">Previous Employer Info</div>
<p class="text-center sub-title">Please enter information for each of your previous employers.</p>

<%= f.fields_for :districts do |cf| %>
  <div class="district-form-container">
    <div class="form-group">
      <div class="form-icon"><i class="fa fa-user"></i></div>
      <%= cf.text_field :name, :placeholder=>"Name", :class => 'form-control'%>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-file"></i></div>
      <%= cf.text_field :nces, :placeholder=>"*NCES", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-address-book"></i></div>
      <%= cf.text_field :contact, :placeholder=>"District Contact", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-envelope"></i></div>
      <%= cf.email_field :email, :placeholder=>"District Contact Email Address", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-phone"></i></div>
      <%= cf.text_field :phone_number, :placeholder=>"District Phone Number", :class => 'form-control'%>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-map-marker"></i></div>
      <%= cf.text_area :street_address, :placeholder=>"*Street Address", :class => 'form-control'%>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-building"></i></div>
      <%= cf.select :state, options_for_select(User::SELECT_STATE_OPTION), {:prompt => "Select state" }, :class => 'form-control' %>
      <%#= cf.text_field :state, :placeholder=>"*State", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-building"></i></div>
      <%= cf.text_field :city, :placeholder=>"*City", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <div class="form-icon"><i class="fa fa-user"></i></div>
      <%= cf.text_field :zip_code, :placeholder=>"*Zip Code", :class => 'form-control' %>
    </div>
  </div>
  <%#= cf.link_to_remove "Remove this task" %>
<% end %>

<p>
  <%= f.link_to_add :districts do %>
    <i class="fa fa-plus-circle add-user"></i>
  <% end %>  
</p>
<div class="clearfix"></div>